@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Orbitron:wght@400..900&display=swap');

body{
    background-color: #6c63ff;
    background-image:url('https://i.imgur.com/2X6BRTJ.jpeg');
    
}
/* Works on Webkit-based browsers (Chrome, Edge, Safari, Opera) */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #cfef00; /* Color of the scrollbar */
    border-radius: 8px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c4e201; /* Color on hover */
  }
  
  ::-webkit-scrollbar-track {
    background: #023047; /* Background color of the scrollbar track */
  }
  